{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "/humanity-icon.ico"%}" type="image/png">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #4CAF50;
            margin-top: 50px;
        }

        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 24px;
            }
        }
    </style>
</head>
<body>
    <h1>Thank you, {{ name }}. We will contact you shortly.</h1>

</body>
</html>
